@import "src/settings/colors";

body {
  display: flex;

}

  h1.logo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow:  5px 5px 5px 5px #785bff;
    padding: 5px;
    color: $navi-color;
    size: 30px;
  }

header.header {
  display: flex;

  p.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 30px 10px 30px;

  }
}
section.opening {
  background-image: url("book-1773756_640.png");
  background-position: center;
  background-size: contain;
  height: 500px;
  width: 100vw;
}

.header {

  &__description {

  }
}